# Compiled sources
*.pyc
build/
dist/
scripts/
highway_dqn/videos



# Setup
**.egg*

**.pth

# Jupyter notebooks
**.ipynb_checkpoints*

# Sphinx documentation
_build

# Editor files
.idea

# Test files
.pytest_cache
.cache

# Outputs
**/out/*

# Docs
docs/_build
**jupyter_execute

# videos
**/videos/
